{
	"env": {
		"node": true
	},
	"parserOptions": {
		"ecmaVersion": 2017,
		"sourceType": "module"
	},
	"ecmaFeatures": {
		"modules": true,
		"spread" : true
	},
	"globals": {
	},
	"extends": [
		"eslint:recommended"
	],
	"rules":{
		"no-console": [0],
		"comma-dangle":[2,"never"],
		"quotes": [0, "double"],
		"no-unused-vars": [1, {"vars": "all", "args": "none"}],
		"no-mixed-spaces-and-tabs": [2],
		"no-undef": [2]
	},
	"plugins": []
}